html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
}

body > div {
    border: 1px solid grey;
    width: 80%;
    margin: 10px auto;
    word-break: break-word;
}

body > div::after {
    content: ' ';
    display: block;
    clear: both;
}

div > div {
    display: inline-block;
    width: 20%;
    float: left;

}

h1 {
    text-align: center;
    margin: 20px;
}

ul {
    margin: 10px 10px 0px 20px;
    padding: 0px;
    list-style-type: circle;
}


body > div > div:nth-child(2) {
    width: 75%;
    padding: 0px 0px 30px 15px;
    margin: 15px 0px 15px 0px;
    border-left: 1px solid;
    box-sizing: border-box;
}